$hadoken-bg: #6666ff;

#back {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 500px;
  background: linear-gradient(to right bottom, transparent 49%, #333 50%, transparent 51%);
  background-size: 30px;
  /*animation: back-animation 10s linear infinite;*/
}

@keyframes back-animation {
  0% {background-position: 100% 100%;}
  100%{background-position: 50% 50%;}
}

@mixin head {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #333;
  background-color: #fff;
}

@mixin eye {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 1px;
}

@mixin mouth {
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #333; 
}

@mixin left-arm {
  position: absolute;
  top: 35px;
  left: 19px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(-20deg);
}

@mixin right-arm {
  position: absolute;
  top: 35px;
  left: 11px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(20deg);
}

@mixin left-leg {
  position: absolute;
  top: 59px;
  left: 20px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(-30deg);
  /*animation: left-walk-animation 2s ease infinite;*/
}

@mixin right-leg {
  position: absolute;
  top: 59px;
  left: 10px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(30deg);
  /*animation: right-walk-animation 2s ease infinite;*/
}

#human {
  width: 30px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 140px;
  transform: scale(5,5);
  .head {
    .eye {
      @include eye;
      top: 8px;
      right: 5px;
    }
    .mouth {
      @include mouth;
      top: 8px;
      right: 5px;
    }
  }
}

#human {
 .head {@include head;}
  .body {
    position: absolute;
    top: 31px;
    left: 15px;
    width: 1px;
    height: 30px;
    background-color: #333;
  }
  .left-arm {
    @include left-arm;
  }
  .right-arm {
    @include right-arm;
  }
  .left-leg {
    @include left-leg;
  }
  .right-leg {
    @include right-leg;
  }
}

.chkbox {
  padding-top: 0px;
}

.sound1 {
  position: absolute;
  top: 100px;
  left: 300px;
  font-size: 1px;
  transition: all 0.1s linear 0;
}

.hukidashi {
  position: absolute;
  top: 40px;
  left: 250px;
  width: 200px;
  height: 100px;

  .hukidashi-in {
    width: 50px;
    height: 50px;
    border-bottom: 15px solid #333;
    border-radius: 25px;
    background-color: transparent;
    position: absolute;
  }

  .hukidashi-in-side {
    width: 190px;
    height: 28px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: #fff;
    border-radius: 14px;
    position: absolute;
  }

  .fur1 {top: 0px; left: 10px;}
  .fur2 {top: 25px; left: 60px; transform: rotate(60deg);}
  .fur3 {top: 75px; left: 75px; transform: rotate(90deg);}
  .fur4 {top: 120px; left: 56px; transform: rotate(120deg);}
}

.mu {
  position: absolute;
  text-align: center;
  top: 30px;
  left: 330px;
  font-size: 4em;
}
 

#battle-start:checked ~ #human2 > .right-arm {
  animation-play-state: running;
}

#battle-start:checked ~ #human2 > .hadoken {
  animation-play-state: running;
}

#battle-start2:checked ~ #human2 > .hadoken2,
#battle-start2:checked ~ #human2 > .left-arm2,
#battle-start2:checked ~ #human2 > .right-arm2,
#battle-start2:checked ~ #human2 > .hide-arm
{
  animation-play-state: running;
}

#battle-start2:checked ~ .sound1 {
  font-size: 40px;
  text-shadow: 1px 1px 0 #bbb, 2px 2px 0 #bbb, 3px 3px #bbb, 4px 4px #bbb;
}


