$hadoken-bg: #6666ff;

#back {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 500px;
  background: linear-gradient(to right bottom, transparent 49%, #333 50%, transparent 51%);
  background-size: 30px;
  animation: back-animation 0.1s linear infinite;
}

@keyframes back-animation {
  0% {opacity: 1}
  100%{opacity: 0}
}

@mixin head {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #333;
  background-color: #fff;
}

@mixin eye {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 1px;
}

@mixin mouth {
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #333; 
}

@mixin left-arm {
  position: absolute;
  top: 35px;
  left: 19px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(-20deg);
}

@mixin right-arm {
  position: absolute;
  top: 35px;
  left: 11px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(20deg);
}

@mixin left-leg {
  position: absolute;
  top: 59px;
  left: 20px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(-30deg);
  /*animation: left-walk-animation 2s ease infinite;*/
}

@mixin right-leg {
  position: absolute;
  top: 59px;
  left: 10px;
  width: 1px;
  height: 20px;
  background-color: #333;
  transform: rotate(30deg);
  /*animation: right-walk-animation 2s ease infinite;*/
}

#human {
  width: 30px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 140px;
  transform: scale(5,5);
  .head {
    .eye {
      @include eye;
      top: 8px;
      right: 5px;
    }
    .mouth {
      @include mouth;
      top: 8px;
      right: 5px;
    }
  }
}

#human2 {
  border: 1px solid #333;
  width: 30px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 400px;
  .head {
    .eye { 
      @include eye;
      top: 8px;
      left: 5px;
    }
    .mouth {
      @include mouth;
      top: 18px;
      left: 5px;
    }
  }
  .right-arm {
    animation: right-arm-animation 0.5s ease forwards;
    animation-play-state: paused;
  }
  .hadoken {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: $hadoken-bg;
    opacity: 0;
    animation: hadoken-animation 0.1s ease infinite;
    animation-play-state: paused;
  }
  .hadoken2 {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid $hadoken-bg;
    border-radius: 15px;
    background-color: $hadoken-bg;
    opacity: 0;
    animation: 
      hadoken2-animation 0.1s ease forwards,
      hadoken2-animation2 0.3s linear forwards;
    animation-play-state: paused;
  }
  .hadoken2:before {
    position: absolute;
    top: 0px;
    left: -20px;
    width: inherit;
    height: 15px;
    transform: skew(120deg);
    display: block;
    content: "";
    background-color: $hadoken-bg;
  }
  .hadoken2:after{
    position: absolute;
    top: 15px;
    left: -20px;
    width: inherit;
    height: 15px;
    transform: skew(-120deg);
    display: block;
    content: "";
    background-color: $hadoken-bg;
  }

  .left-arm2 {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 1px;
    height: 20px;
    background-color: #333;
    transform: rotate(50deg);
    opacity: 0;
    animation: left-arm2-animation 0.1s ease forwards;
    animation-play-state: paused;
  }
  .right-arm2 {
    position: absolute;
    top: 25px;
    left: 5px;
    width: 1px;
    height: 20px;
    background-color: #333;
    transform: rotate(120deg);
    opacity: 0;
    animation: right-arm2-animation 0.1s ease forwards;
    animation-play-state: paused;
  }
  .hide-arm {
    position: absolute;
    top: 37px;
    left: 16px;
    width: 20px;
    height: 25px;
    background-color: #fff;
    opacity: 0;
    animation: hide-arm-animation 0.1s ease forwards;
    animation-play-state: paused;
  }
  animation: human2-animation 0.5s ease 1;
}

#human, #human2 {
 .head {@include head;}
  .body {
    position: absolute;
    top: 31px;
    left: 15px;
    width: 1px;
    height: 30px;
    background-color: #333;
  }
  .left-arm {
    @include left-arm;
  }
  .right-arm {
    @include right-arm;
  }
  .left-leg {
    @include left-leg;
  }
  .right-leg {
    @include right-leg;
  }
}

.chkbox {
  padding-top: 0px;
}

.sound1 {
  position: absolute;
  top: 100px;
  left: 300px;
  font-size: 1px;
  transition: all 0.1s linear 0;
}

#battle-start:checked ~ #human2 > .right-arm {
  animation-play-state: running;
}

#battle-start:checked ~ #human2 > .hadoken {
  animation-play-state: running;
}

#battle-start2:checked ~ #human2 > .hadoken2,
#battle-start2:checked ~ #human2 > .left-arm2,
#battle-start2:checked ~ #human2 > .right-arm2,
#battle-start2:checked ~ #human2 > .hide-arm
{
  animation-play-state: running;
}

#battle-start2:checked ~ .sound1 {
  font-size: 40px;
  text-shadow: 1px 1px 0 #bbb, 2px 2px 0 #bbb, 3px 3px #bbb, 4px 4px #bbb;
}


